@import url('https://fonts.googleapis.com/css2?family=poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    /* background: #7D6B91; */
  padding: 20px;
    background: #0d1e3a;
  color: whitesmoke;
  text-align: center;
  font-family: 'Poppins', sans-serif
}
hi{
  font-size: large
}
p{
  font-size: medium
}

a {
 text-decoration: none;
  color: greenyellow
  
}
    
.profile-img{
  width: 25%;
  border-radius: 50%;
}
.btn {
  display: block;
  color: blueviolet;
  padding: 30px;
  background: whitesmoke;
  margin: 16px
}